<!DOCTYPE html>
<html lang="en">
    <head>
            <title>House Attendance</title>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="main.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        </head>
    
    <body id='missed_votes_pct'>
            <div id="vue-statistics">
            <vue-logo-bar></vue-logo-bar>
                
        <!-- nav bar -->
        <vue-navbar></vue-navbar>
  

        <header>            
            <div>
            </div>
        </header>
        <!--Table container-->
     
        <div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h2>Attendance</h2>
                <p>The Constitution specifies that a majority of members constitutes a quorum to do business in each house. Representatives and senators rarely force the presence of a quorum by demanding quorum calls; thus, in most cases, debates continue even if a majority is not present.</p>
    
                <p>The Senate uses roll-call votes; a clerk calls out the names of all the senators, each senator stating "aye" or "no" when his or her name is announced. The House reserves roll-call votes for the most formal matters, as a roll-call of all 435 representatives takes quite some time; normally, members vote by electronic device. In the case of a tie, the motion in question fails. In the Senate, the Vice President may (if present) cast the tiebreaking vote.</p>
            </div>
            <div class="col-md-5">
                    <h2>House at a glance</h2>
                    <div class="spinner text-center">
                            <img src="spinner.gif" alt="loading...">
                    </div>
                    <table id="summary-tables" class="table table-striped" v-cloak>
                        <thead>
                            <tr>
                                <th>Party</th>
                                <th>Number of Reps</th>
                                <th>% Voted with Prty</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="party in parties">
                            <td> {{ party.partyName }}</td>
                            <td> {{ party.numOfReps }}</td>
                            <td> {{ party.avgVoted }}</td></tr>
                        </tbody>
                    </table>
                </div>
            <div class="col-md-1"></div>
        </div>

            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <h2>Least Engaged (Bottom 10% of Party)</h2>
                    <div class="spinner text-center">
                        <img src="spinner.gif" alt="loading...">
                    </div>
                    <table class='table table-striped' v-cloak>
                        <thead>
                            <tr><th>Name</th><th>Missed Votes</th><th>% Missed Votes</th></tr>
                        </thead>
                        <tbody>
                            <tr v-for="member in membersHighest" >
                                <td> {{ member.first_name }} {{ member.middle_name }} {{ member.last_name }} </td>
                                <td> {{ member.missed_votes }} </td>
                                <td> {{ member.missed_votes_pct }} </td></tr>
                        </tbody>
                    </table>
                    <div class="text-center" v-if="membersHighest.length < 1"> 
                        NO RESULTS FOUND
                    </div>
                </div>
                <div class="col-md-5">
                    <h2>Most Engaged (Top 10% of Party)</h2>
                    <div class="spinner text-center">
                        <img src="spinner.gif" alt="loading...">
                    </div>
                    
                    <table class='table table-striped' v-cloak>
                        <thead>
                            <tr><th>Name</th><th>Missed Votes</th><th>% Missed Votes</th></tr>
                        </thead>

                        <tbody>
                            <tr v-for="member in membersLowest" >
                                <td> {{ member.first_name }} {{ member.middle_name }} {{ member.last_name }} </td>
                                <td> {{ member.missed_votes }} </td>
                                <td> {{ member.missed_votes_pct }} </td></tr>
                        </tbody>
                    </table>
                    <div class="text-center" v-if="membersLowest.length < 1"> 
                        NO RESULTS FOUND
                    </div>

                            <!--
                            <table id="summaryTable" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Party</th>
                                        <th>Number of Reps</th>
                                        <th>% Voted with Prty</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Republican</td>
                                        <td>--</td>
                                        <td>--</td>
                                    </tr>
                                    <tr>
                                        <td>Democrat</td>
                                        <td>--</td>
                                        <td>--</td>
                                    </tr>
                                    <tr>
                                        <td>Independent</td>
                                        <td>--</td>
                                        <td>--</td>
                                    </tr>
                                </tbody>
                            </table>
                        -->
        
                    <!--
                    <h2>Least Loyal (Bottom 10% of Party)</h2>
                    <table id="least" class='votes_with_party_pct table table-striped'>
                        <thead>
                            <tr><th>Name</th><th>Number Party Votes</th><th>% Party Votes</th></tr>
                        </thead>
                        <tbody>
                
                        </tbody>
                    </table>
        
                    <h2>Most Loyal (Top 10% of Party)</h2>
                    <table id="most" class='votes_with_party_pct table table-striped'>
                        <thead>
                            <tr><th>Name</th><th>Number Party Votes</th><th>% Party Votes</th></tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                    -->

                </div>
                <div class="col-md-1"></div>
            </div>

            <!-- footer -->
            <vue-footer></vue-footer>

        </div> 

        <div id='house'></div>
        </div>
        <!-- <script src="pro-congress-113-house.js"></script> -->
        <!-- <script src="statistics.js"></script> -->
        <!-- <script src="ajax.js"></script> -->
        <script src="vue-common.js"></script>
        <script src="vue-statistics.js"></script>
        
        
</body>
</html>