<!DOCTYPE html>
<html lang="en">
    <head>
            <title>Senate Attendance</title>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        </head>
    
    <body id='missed_votes_pct'>
            <div class="row">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-3">
                        <img src="logo-sm.jpg" alt="TGIF logo">
                    </div>
                    <div class="col-xs-6"></div>
                    <div class="col-xs-1">
                        <a href="mailto: info@tgif.net">info@TGIF.net </a>
                    </div>
                    <div class="col-xs-1">
                    </div>
                </div>
                
        <!-- nav bar -->
        <div class="row">
            <div class="col-md-1"></div>
                <div class="col-md-10">
                        <nav class="navbar navbar-default">
                                <div class="container-fluid">
                                    <div class="navbar-header">
                                        <a class="navbar-brand" href="#">TGIF</a>
                                    </div>
                                    <ul class="nav navbar-nav">
                                        <li><a href="index.html">Home</a></li>
                                        <li >
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Congress 113</a>
                                            <ul class="dropdown-menu">
                                                <li><a href="senate.html">Senate</a></li>
                                                <li><a href="house.html">House</a></li>
                                            </ul>
                                        </li>
                                        <li >
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Attendance</a>
                                            <ul class="dropdown-menu">
                                                <li><a href="attendance-senate.html">Senate</a></li>
                                                <li><a href="attendance-house.html">House</a></li>
                                            </ul>
                                        </li>
                                        <li >
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Loyalty</a>
                                            <ul class="dropdown-menu">
                                                <li><a href="loyalty-senate.html">Senate</a></li>
                                                <li><a href="loyalty-house.html">House</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                    
                                </div>
                            </nav> 
                </div>
            <div class="col-md-1"></div>
            </div>
  

        <header>            
            <div>
            </div>
        </header>
        <!--Table container-->
 
                <div id="vue-tables">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-6">
                            <h2>Attendance</h2>
                            <p>The Constitution specifies that a majority of members constitutes a quorum to do business in each house. Representatives and senators rarely force the presence of a quorum by demanding quorum calls; thus, in most cases, debates continue even if a majority is not present.</p>
                
                            <p>The Senate uses roll-call votes; a clerk calls out the names of all the senators, each senator stating "aye" or "no" when his or her name is announced. The House reserves roll-call votes for the most formal matters, as a roll-call of all 435 representatives takes quite some time; normally, members vote by electronic device. In the case of a tie, the motion in question fails. In the Senate, the Vice President may (if present) cast the tiebreaking vote.</p>
                                     
                    </div>
                    <div class="col-md-5"></div>
                </div>


                <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                                <h2>Senate at a glance</h2>
                                <table id="summaryTable" class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Party</th>
                                            <th>Number of Reps</th>
                                            <th>% Voted with Prty</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Republican</td>
                                            <td>--</td>
                                            <td>--</td>
                                        </tr>
                                        <tr>
                                            <td>Democrat</td>
                                            <td>--</td>
                                            <td>--</td>
                                        </tr>
                                        <tr>
                                            <td>Independent</td>
                                            <td>--</td>
                                            <td>--</td>
                                        </tr>
                                    </tbody>
                                </table>
            
                        <!--
                        <h2>Least Loyal (Bottom 10% of Party)</h2>
                        <table id="least" class='votes_with_party_pct table table-striped'>
                            <thead>
                                <tr><th>Name</th><th>Number Party Votes</th><th>% Party Votes</th></tr>
                            </thead>
                            <tbody>
                    
                            </tbody>
                        </table>
            
                        <h2>Most Loyal (Top 10% of Party)</h2>
                        <table id="most" class='votes_with_party_pct table table-striped'>
                            <thead>
                                <tr><th>Name</th><th>Number Party Votes</th><th>% Party Votes</th></tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table>
                        -->

                        <h2>Least Engaged (Bottom 10% of Party)</h2>
                        <table class='table table-striped'>
                            <thead>
                                <tr><th>Name</th><th>Missed Votes</th><th>% Missed Votes</th></tr>
                            </thead>
                            <tbody>
                                <tr v-for="member in membersHighest" ><td> {{ member.first_name }} {{ member.last_name }} </td><td> {{ member.missed_votes }} </td><td> {{ member.missed_votes_pct }} </td></tr>
                            </tbody>
                        </table>
            
                        <h2>Most Engaged (Top 10% of Party)</h2>
                        <table class='table table-striped'>
                            <thead>
                                <tr><th>Name</th><th>Missed Votes</th><th>% Missed Votes</th></tr>
                            </thead>
                            <tbody>
                                <tr v-for="member in membersLowest" ><td> {{ member.first_name }} {{ member.last_name }} </td><td> {{ member.missed_votes }} </td><td> {{ member.missed_votes_pct }} </td></tr>
                            </tbody>
                        </table>

            
                    <div class="col-md-1"></div>
                    </div>
    
                </div>
            </div> 
 
        <script src="pro-congress-113-senate.js"></script>
        <script src="statistics.js"></script>  
        <script src="vue-statistics.js"></script>

</body>
</html>