<!DOCTYPE html>
<html lang="en">
    <head>
            <title>House Attendance</title>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        </head>
    
    <body id='votes_with_party_pct'>
        <div id="vue-tables">
            <div class="row">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-3">
                        <img src="logo-sm.jpg" alt="TGIF logo">
                    </div>
                    <div class="col-xs-6"></div>
                    <div class="col-xs-1">
                        <a href="mailto: info@tgif.net">info@TGIF.net </a>
                    </div>
                    <div class="col-xs-1">
                    </div>
                </div>
                
        <!-- nav bar -->
        <div class="row">
            <div class="col-md-1"></div>
                <div class="col-md-10">
                        <nav class="navbar navbar-default">
                                <div class="container-fluid">
                                    <div class="navbar-header">
                                        <a class="navbar-brand" href="#">TGIF</a>
                                    </div>
                                    <ul class="nav navbar-nav">
                                        <li><a href="index.html">Home</a></li>
                                        <li >
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Congress 113</a>
                                            <ul class="dropdown-menu">
                                                <li><a href="senate.html">Senate</a></li>
                                                <li><a href="house.html">House</a></li>
                                            </ul>
                                        </li>
                                        <li >
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Attendance</a>
                                            <ul class="dropdown-menu">
                                                <li><a href="attendance-senate.html">Senate</a></li>
                                                <li><a href="attendance-house.html">House</a></li>
                                            </ul>
                                        </li>
                                        <li >
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Loyalty</a>
                                            <ul class="dropdown-menu">
                                                <li><a href="loyalty-senate.html">Senate</a></li>
                                                <li><a href="loyalty-house.html">House</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                    
                                </div>
                            </nav> 
                </div>
            <div class="col-md-1"></div>
            </div>
  

        <header>            
            <div>
            </div>
        </header>
        <!--Table container-->
     
        <div>
        <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-6">
                    <h2>Party Loyalty</h2>
                    <p>Those who consider themselves to be strong partisans, strong Democrats and strong Republicans respectively, tend to be the most faithful in voting for their party's nominee for office and legislation that backs their party's agenda. </p>        
                </div>
                <div class="col-md-5"></div>
            </div>


            <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                            <h2>House at a glance</h2>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Party</th>
                                        <th>Number of Reps</th>
                                        <th>% Voted with Prty</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="party in parties">
                                    <td> {{ party.partyName }}</td>
                                    <td> {{ party.numOfReps }}</td>
                                    <td> {{ party.avgVoted }}</td></tr>
                                </tbody>
                            </table>

                            <h2>Least Loyal (Bottom 10% of Party)</h2>
                            <table class='table table-striped'>
                                <thead>
                                    <tr><th>Name</th><th>Number Party Votes</th><th>% Party Votes</th></tr>                                </thead>
                                <tbody>
                                    <tr v-for="member in membersLowest" >
                                        <td> {{ member.first_name }} {{ member.middle_name }} {{ member.last_name }} </td>
                                        <td> {{ member.total_votes }} </td>
                                        <td> {{ member.votes_with_party_pct }} </td></tr>
                                </tbody>
                            </table>
                
                            <h2>Most Loyal (Top 10% of Party)</h2>
                            <table class='table table-striped'>
                                <thead>
                                    <tr><th>Name</th><th>Number Party Votes</th><th>% Party Votes</th></tr>                                </thead>
                                <tbody>
                                    <tr v-for="member in membersHighest" >
                                        <td> {{ member.first_name }} {{ member.middle_name }} {{ member.last_name }} </td>
                                        <td> {{ member.total_votes }} </td>
                                        <td> {{ member.votes_with_party_pct }} </td></tr>
                                </tbody>
                            </table>

                            <!--
                            <table id="summaryTable" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Party</th>
                                        <th>Number of Reps</th>
                                        <th>% Voted with Prty</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Republican</td>
                                        <td>--</td>
                                        <td>--</td>
                                    </tr>
                                    <tr>
                                        <td>Democrat</td>
                                        <td>--</td>
                                        <td>--</td>
                                    </tr>
                                    <tr>
                                        <td>Independent</td>
                                        <td>--</td>
                                        <td>--</td>
                                    </tr>
                                </tbody>
                            </table>
                        -->
        
                    <!--
                    <h2>Least Loyal (Bottom 10% of Party)</h2>
                    <table id="least" class='votes_with_party_pct table table-striped'>
                        <thead>
                            <tr><th>Name</th><th>Number Party Votes</th><th>% Party Votes</th></tr>
                        </thead>
                        <tbody>
                
                        </tbody>
                    </table>
        
                    <h2>Most Loyal (Top 10% of Party)</h2>
                    <table id="most" class='votes_with_party_pct table table-striped'>
                        <thead>
                            <tr><th>Name</th><th>Number Party Votes</th><th>% Party Votes</th></tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                    -->


                <div class="col-md-1"></div>
                </div>
            </div>

        </div> 

        <house id='house'></house>

        <!-- <script src="pro-congress-113-house.js"></script> -->
        <script src="vue-statistics.js"></script>
        <!-- <script src="statistics.js"></script>   -->
        <!-- <script src="ajax.js"></script> -->
        
    </div>
</body>
</html>